[id^="json-"] {
	display: none;
}

input[type="text"],
textarea {
	background-color: $color-bg;
}

textarea {
	font-family: inherit;
	font-size: inherit;
}

@media screen {
	html.voterunner {
		background: $color-bg-html;
		font-size: 80%;
	}
}
