* {
	box-sizing: border-box;
}

input[type="text"],
textarea {
	background-color: $color-bg;
}

textarea {
	font-family: inherit;
	font-size: inherit;
	resize: vertical;
}

@media screen {
	html.voterunner {
		background: $color-bg-html;
		font-size: 90%;
	}
}
