$bg: #eee;
$h1: #336DBE;
$h2: #ABC3E3;
$h3: #D9E7F9;
$ll: lightgray;
$padding: 0.4em;

* {
	box-sizing: border-box;
	max-width: 100%;
}

[id^="json-"] {
	display: none;
}

input[type="text"],
textarea {
	background: white;
}

textarea {
	font-family: inherit;
	font-size: inherit;
}

%bar-button {
	appearance: none;
	background: none;
	border: 0;
	cursor: pointer;
	font: inherit;
	color: inherit;
	text-align: center;

	&:hover {
		background-color: rgba(255,255,255,0.2);
	}
}

%bar-item {
	padding: $padding;
	white-space: nowrap;
	overflow: hidden;
	display: inline-block;
}

%bar-item-left {
	@extend %bar-item;
	float: left;
	border-right: 1px solid $ll;
}

%bar-item-right {
	@extend %bar-item;
	float: right;
	border-left: 1px solid $ll;
}

html {
	height: 100%;
	font-family: sans-serif;
	font-size: 70%;
	background: #eee;
}

body {
	height: 100%;
	max-width: 90em;
	margin: 0 auto;
	position: relative;

	> div {
		padding: 3em 0 1em;
		height: 100%;
		min-height: 37em;  // 33 + padding

		> div {
			position: relative;
			height: 100%;
			min-height: 33em;
		}
	}
}

header {
	background: $h1;
	text-align: center;
	border-radius: 0 0 0.4em 0.4em;
	margin: 0;
	width: 100%;
	position: absolute;
	top: 0;

	h1 {
		margin: 0;
		font-size: 2em;
		color: $h3;

		span {
			color: $h2;
		}
	}
}

#tree, #user, #tree li .body {
	border: 1px solid $ll;
	border-radius: 0.2em 0.2em 0 0;
}

#tree {
	position: absolute;
	top: 0;
	left: 0;
	width: 57%;
	height: 100%;
	overflow: auto;
	background: white;
	padding: $padding;
}

.tree {
	padding: 0;
	margin: 0;
	list-style: none;

	.tree {
		margin-left: 2em;
	}
}

.node {
	margin: 0.5em 0;

	.body {
		background: white;
	}

	.header {
		background: $h2;
	}

	.expand {
		@extend %bar-item-left;
		@extend %bar-button;

		&:before {
			content: ">";
		}
	}
	.name {
		@extend %bar-item;
	}
	.delegate {
		@extend %bar-item-right;
		@extend %bar-button;
	}
	.votes {
		@extend %bar-item-right;
	}

	.comment {
		padding: $padding;
	}

	&.m-self > .body .delegate {
		display: none;
	}

	&:not(.is-expanded) > .tree {
		display: none;
	}

	&.is-expanded > .body .expand:before {
		content: "v";
	}
}

#sidebar {
	position: absolute;
	top: 0;
	right: 0;
	width: 42%;
	height: 100%;
}

#user {
	background: $h3;

	> .statusbar {
		width: 100%;
		border-bottom: 1px solid $ll;
	}

	.delegate {
		@extend %bar-item;
	}

	.votes {
		@extend %bar-item-right;
	}

	.undelegate {
		@extend %bar-item-right;
		@extend %bar-button;

		&:before {
			content: "‒";
		}
	}
}

#name {
	@extend %bar-item;
	max-width: 80%;  // TODO: prevent linebreak

	input {
		font-size: 120%;
		height: 1.6em;
	}
}

#rm {
	@extend %bar-item-right;
	@extend %bar-button;

	font-size: 120%;
	padding: $padding;
	line-height: 1.6;
	min-width: 2em;

	&:before {
		content: "X";
	}
}

#comment textarea {
	width: 100%;
	min-height: 15em;
	border: none;
	resize: vertical;
	padding: $padding;
}
