@charset "UTF-8";
* {
  box-sizing: border-box;
  max-width: 100%; }

[id^="json-"] {
  display: none; }

input[type="text"],
textarea {
  background: white; }

textarea {
  font-family: inherit;
  font-size: inherit; }

#tree .tree > li .body .header .expand,
#tree .followers > li .body .header .expand, #tree .tree > li .body .header .delegate,
#tree .followers > li .body .header .delegate, #user > .statusbar .undelegate, #user #rm {
  appearance: none;
  background: none;
  border: 0;
  cursor: pointer;
  font: inherit;
  color: inherit;
  text-align: center; }
  #tree .tree > li .body .header .expand:hover,
  #tree .followers > li .body .header .expand:hover, #tree .tree > li .body .header .delegate:hover,
  #tree .followers > li .body .header .delegate:hover, #user > .statusbar .undelegate:hover, #user #rm:hover {
    background-color: rgba(255, 255, 255, 0.2); }

#tree .tree > li .body .header .expand,
#tree .followers > li .body .header .expand, #tree .tree > li .body .header .delegate,
#tree .followers > li .body .header .delegate, #tree .tree > li .body .header .votes,
#tree .followers > li .body .header .votes, #user > .statusbar .votes, #user > .statusbar .undelegate, #user #rm, #tree .tree > li .body .header .name,
#tree .followers > li .body .header .name, #user > .statusbar .delegate, #user #name {
  padding: 0.4em;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block; }

#tree .tree > li .body .header .expand,
#tree .followers > li .body .header .expand {
  float: left;
  border-right: 1px solid lightgray; }

#tree .tree > li .body .header .delegate,
#tree .followers > li .body .header .delegate, #tree .tree > li .body .header .votes,
#tree .followers > li .body .header .votes, #user > .statusbar .votes, #user > .statusbar .undelegate, #user #rm {
  float: right;
  border-left: 1px solid lightgray; }

html {
  height: 100%;
  font-family: sans-serif;
  font-size: 70%;
  background: #eee; }

body {
  height: 100%;
  max-width: 90em;
  margin: 0 auto;
  position: relative; }
  body > div {
    padding: 3em 0 1em;
    height: 100%;
    min-height: 37em; }
    body > div > div {
      position: relative;
      height: 100%;
      min-height: 33em; }

header {
  background: #336DBE;
  text-align: center;
  border-radius: 0 0 0.4em 0.4em;
  margin: 0;
  width: 100%;
  position: absolute;
  top: 0; }
  header h1 {
    margin: 0;
    font-size: 2em;
    color: #D9E7F9; }
    header h1 span {
      color: #ABC3E3; }

#tree, #user, #tree li .body {
  border: 1px solid lightgray;
  border-radius: 0.2em 0.2em 0 0; }

#tree {
  position: absolute;
  top: 0;
  left: 0;
  width: 57%;
  height: 100%;
  overflow: auto;
  background: white;
  padding: 0.4em; }
  #tree .tree,
  #tree .followers {
    padding: 0;
    margin: 0;
    list-style: none; }
    #tree .tree > li,
    #tree .followers > li {
      margin: 0.5em 0; }
      #tree .tree > li .body,
      #tree .followers > li .body {
        background: white; }
        #tree .tree > li .body .header,
        #tree .followers > li .body .header {
          background: #ABC3E3; }
          #tree .tree > li .body .header .expand:before,
          #tree .followers > li .body .header .expand:before {
            content: ">"; }
        #tree .tree > li .body .comment,
        #tree .followers > li .body .comment {
          padding: 0.4em; }
          #tree .tree > li .body .comment[data-type="pre"],
          #tree .followers > li .body .comment[data-type="pre"] {
            white-space: pre-wrap; }
      #tree .tree > li[data-highlight] > .body,
      #tree .followers > li[data-highlight] > .body {
        font-weight: bold; }
      #tree .tree > li[data-self] > .body .header .delegate,
      #tree .followers > li[data-self] > .body .header .delegate {
        display: none; }
      #tree .tree > li:not([data-expanded="true"]) > .followers,
      #tree .followers > li:not([data-expanded="true"]) > .followers {
        display: none; }
      #tree .tree > li[data-expanded="true"] > .body .header .expand:before,
      #tree .followers > li[data-expanded="true"] > .body .header .expand:before {
        content: "v"; }
  #tree .followers {
    margin-left: 2em; }

#sidebar {
  position: absolute;
  top: 0;
  right: 0;
  width: 42%;
  height: 100%; }

#user {
  background: #D9E7F9; }
  #user > .statusbar {
    width: 100%;
    border-bottom: 1px solid lightgray; }
    #user > .statusbar .undelegate:before {
      content: "‒"; }
  #user #name {
    max-width: 80%; }
    #user #name input {
      font-size: 120%;
      height: 1.6em; }
  #user #rm {
    font-size: 120%;
    padding: 0.4em;
    line-height: 1.6;
    min-width: 2em; }
    #user #rm:before {
      content: "X"; }
  #user #comment textarea {
    width: 100%;
    min-height: 15em;
    border: none;
    resize: vertical;
    padding: 0.4em; }

