@charset "UTF-8";
@viewport {
  width: device-width; }

*,
*::before,
*::after {
  box-sizing: inherit;
  max-width: 100%; }

p, address, blockquote, pre, table, dl, ul, ol, figure, fieldset {
  margin-top: 0;
  margin-bottom: 1em; }

html {
  overflow-y: scroll;
  background-color: #fff;
  box-sizing: border-box;
  color: #000;
  font-size: 1.2em;
  font-family: sans-serif;
  line-height: 1.4; }

body {
  margin: 2em auto;
  max-width: 36em;
  padding: 0 0.4em; }

h1, h2, h3, h4, h5, h6 {
  line-height: 1.2;
  margin-bottom: 0.8rem;
  margin-top: 1.5em; }

a {
  color: #336DBE;
  text-decoration: underline; }
  a:hover, a:focus, a:active {
    color: #1a375f; }

a:not([href]) {
  color: inherit;
  text-decoration: inherit; }
  a:not([href]):hover, a:not([href]):focus, a:not([href]):active {
    color: inherit; }

*::selection {
  background: #336DBE;
  color: #fff; }

hr {
  border: 0;
  border-bottom: 1px solid #c0c0c0;
  margin: 1em 0; }

pre, code {
  font-size: 90%;
  font-family: monospace;
  background-color: #c2d5ee; }

code {
  padding: 0 0.25em; }

pre {
  padding: 0.4em;
  overflow: auto;
  border: 1px solid #c0c0c0; }
  pre code {
    background: none;
    font-size: 100%;
    padding: 0; }

ol, ul {
  padding-left: 2rem; }

dt {
  font-weight: bold; }

dd {
  margin-left: 2rem; }

blockquote {
  font-style: italic;
  margin-left: 2rem;
  margin-right: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }
  table td, table th {
    text-align: start;
    padding: 0.4em;
    border-top: 1px solid #c0c0c0;
    vertical-align: top; }

textarea {
  resize: vertical; }

fieldset {
  border: 1px solid #c0c0c0; }

sub, sup {
  line-height: 0; }

@media print {
  html {
    background: transparent;
    color: #000; }
  h2, h3 {
    page-break-after: avoid; } }

[id^="json-"] {
  display: none; }

input[type="text"],
textarea {
  background: #fff; }

textarea {
  font-family: inherit;
  font-size: inherit; }

@media screen {
  html.voterunner {
    background: #eee;
    font-size: 80%; } }

body,
html {
  height: 100%; }

body {
  margin: 0 auto;
  position: relative; }
  body > div {
    padding: 3em 0 1em;
    height: 100%;
    min-height: 37em; }
    body > div > div {
      position: relative;
      height: 100%;
      min-height: 33em; }

.voterunner body {
  max-width: 90em; }

body > header {
  background: #336DBE;
  text-align: center;
  border-radius: 0 0 0.4em 0.4em;
  margin: 0;
  position: absolute;
  top: 0;
  left: 0.4em;
  right: 0.4em; }
  body > header h1 {
    margin: 0;
    font-size: 200%;
    color: #fff; }
    body > header h1 span {
      color: #c2d5ee; }

#tree,
#user,
#tree .node .body {
  border: 1px solid #c0c0c0;
  border-radius: 0.2em 0.2em 0 0; }

@media print {
  #tree, #user {
    border: 0; } }

#tree {
  background: #fff;
  padding: 0.4em;
  margin-top: 0.4em; }

@media screen and (min-width: 40em) {
  html {
    overflow: auto; }
  #tree {
    position: absolute;
    top: 0;
    left: 0;
    width: 57%;
    height: 100%;
    overflow: auto;
    margin-top: 0; }
  #sidebar {
    position: absolute;
    top: 0;
    right: 0;
    width: 42%; } }

.node .expand, .node .delegate, #user .undelegate, #rm {
  appearance: none;
  background: none;
  border: 0;
  cursor: pointer;
  font: inherit;
  color: inherit;
  text-align: center; }
  .node .expand:hover, .node .delegate:hover, #user .undelegate:hover, #rm:hover {
    background-color: rgba(255, 255, 255, 0.2); }
  @media print {
    .node .expand, .node .delegate, #user .undelegate, #rm {
      display: none; } }

.node .expand, .node .delegate, .node .votes, #user .votes, #user .undelegate, #rm, .node .name, #user .delegate, #name {
  padding: 0.4em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

.node .expand {
  float: left;
  border-right: 1px solid #c0c0c0; }

.node .delegate, .node .votes, #user .votes, #user .undelegate, #rm {
  float: right;
  border-left: 1px solid #c0c0c0; }

.tree {
  padding: 0;
  margin: 0;
  list-style: none; }
  .tree .tree {
    margin-left: 2em; }

.node {
  margin: 1em 0; }
  .node:target > .body {
    outline: 5px auto #336DBE;
    outline-offset: -2px; }
  .node .body {
    background: #fff;
    break-inside: avoid; }
    @media print {
      .node .body {
        border: 1px solid; } }
  .node .header {
    background: #c2d5ee; }
  .node .expand:before {
    content: ">"; }
  .node .comment {
    padding: 0.4em; }
    .node .comment > :first-child {
      margin-top: 0; }
    .node .comment > :last-child {
      margin-bottom: 0; }
  .node.m-self > .body .delegate {
    display: none; }
  .node.m-self > .body .header {
    background: #336DBE;
    color: #fff; }
  .node:not(.is-expanded) > .tree {
    display: none; }
  .node.is-expanded > .body .expand:before {
    content: "v"; }

#user {
  background: #c2d5ee; }
  #user .delegate {
    float: left; }
  #user .undelegate:before {
    content: "‒"; }
  @media print {
    #user {
      display: none; } }

.statusbar {
  width: 100%;
  border-bottom: 1px solid #c0c0c0;
  overflow: hidden; }

#name {
  float: left;
  max-width: 80%; }
  #name input {
    font-size: 120%;
    height: 1.6em; }

#rm {
  font-size: 120%;
  padding: 0.4em;
  line-height: 1.6;
  min-width: 2em; }
  #rm:before {
    content: "X"; }

#comment textarea {
  width: 100%;
  min-height: 15em;
  border: none;
  padding: 0.4em; }

