%bar-button {
	appearance: none;
	background: none;
	border: 0;
	cursor: pointer;
	font: inherit;
	color: inherit;
	text-align: center;

	&:hover {
		background-color: rgba(255,255,255,0.2);
	}
}

%bar-item {
	padding: $padding;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

%bar-item-left {
	@extend %bar-item;
	float: left;
	border-right: 1px solid $ll;
}

%bar-item-right {
	@extend %bar-item;
	float: right;
	border-left: 1px solid $ll;
}
