[id^="json-"] {
	display: none;
}

input[type="text"],
textarea {
	background: $color-bg;
}

textarea {
	font-family: inherit;
	font-size: inherit;
}

@media screen {
	html {
		background: $color-bg-html;
	}
}
