body,
html {
	height: 100%;
}

body {
	max-width: 90em;
	margin: 0 auto;
	position: relative;

	> div {
		padding: 3em 0 1em;
		height: 100%;
		min-height: 37em;  // 33 + padding

		> div {
			position: relative;
			height: 100%;
			min-height: 33em;
		}
	}
}

body > header {
	background: $color-link;
	text-align: center;
	border-radius: 0 0 $padding $padding;
	margin: 0;
	position: absolute;
	top: 0;
	left: $padding;
	right: $padding;

	h1 {
		margin: 0;
		font-size: 200%;
		color: $color-bg;

		span {
			color: $color-bg-tint;
		}
	}
}

#tree,
#user,
#tree .node .body {
	border: 1px solid $color-border;
	border-radius: ($padding / 2) ($padding / 2) 0 0;
}

@media print {
	#tree, #user {
		border: 0;
	}
}

#tree {
	background: $color-bg;
	padding: $padding;
	margin-top: $padding;
}

@media screen and (min-width: 40em) {
	html {
		overflow: auto;
	}

	#tree {
		position: absolute;
		top: 0;
		left: 0;
		width: 57%;
		height: 100%;
		overflow: auto;
		margin-top: 0;
	}

	#sidebar {
		position: absolute;
		top: 0;
		right: 0;
		width: 42%;
	}
}
