$color-bg: #fff;
$color-bg-html: #eee;
$color-fg: #111;
$color-link: #336DBE;
$color-bg-tint: mix($color-link, $color-bg, 25%);
$color-border: #c0c0c0;

$padding: 0.4em;

@import '../../node_modules/mfbs/sass/variables';
@import '../../node_modules/mfbs/sass/base';
@import '../../node_modules/mfbs/sass/layout';

@import 'base';
@import 'layout';
@import 'bar';
@import 'tree';
@import 'user';
