.tree {
	padding: 0;
	margin: 0;
	list-style: none;

	.tree {
		margin-left: 2em;
	}
}

.node {
	margin: $spacer 0;

	&:target > .body {
		outline: 5px auto $color-link;
		outline-offset: -2px;
	}

	.body {
		background: $color-bg;
	}

	.header {
		background: $color-bg-tint;
	}

	.expand {
		@extend %bar-item-left;
		@extend %bar-button;

		&:before {
			content: ">";
		}
	}
	.name {
		@extend %bar-item;
	}
	.delegate {
		@extend %bar-item-right;
		@extend %bar-button;
	}
	.votes {
		@extend %bar-item-right;
	}

	.comment {
		padding: $padding;

		> :first-child {
			margin-top: 0;
		}
		> :last-child {
			margin-bottom: 0;
		}
	}

	&.m-self > .body {
		.delegate {
			display: none;
		}
		.header {
			background: $color-link;
			color: $color-bg;
		}
	}

	&:not(.is-expanded) > .tree {
		display: none;
	}

	&.is-expanded > .body .expand:before {
		content: "v";
	}
}
