.user {
	background: $color-bg-tint;

	.bar {
		border-bottom: 1px solid $color-border;
	}

	@media print {
		display: none;
	}
}

.user__undelegate {
	&:before {
		content: "‒";
	}
}

.user__name {
	input {
		font-size: 120%;
		height: 1.6em;
	}
}

.user__rm {
	font-size: 120%;
	padding: $padding;
	line-height: 1.6;

	&:before {
		content: "X";
	}
}

.user__comment textarea {
	width: 100%;
	min-height: 15em;
	border: none;
	padding: $padding;
}
