<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<meta charset="utf-8">
	<title>voterunner - <= topic =></title>
	<link rel="shortcut icon" href="/favicon.ico"/>
	<link rel="stylesheet" type="text/css" href="/style.css" />

	<link rel="alternate" type="application/json" href="json/" />
	<link rel="alternate" type="text/xml" href="opml/" />

	<link rel="payment" href="https://flattr.com/submit/auto?url=http://voterunner.herokuapp.com&user_id=ximusic&category=software"/>

	<script type="text/javascript" src="/socket.io/socket.io.js"></script>
	<script type="text/javascript" src="http://fgnass.github.com/spin.js/dist/spin.min.js"></script>
	<script type="text/javascript" src="/voterunner.js"></script>

	<meta name="robots" content="noindex" />
	<!--[if lt IE 9]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>

<body>
	<header>
		<h1><span class="logo1">vote</span>runner</h1>
	</header>

	<div>
		<div id="sidebar">
			<div id="user">
				<div class="statusbar">
					<div class="votes" title="number of votes of you and all your followers">1</div>
					<div class="delegate">(no delegation)</div>
					<a class="undelegate" title="revoke delegation" onclick="undelegate()">‒</a>
				</div>
				<div id="name">
					<input type="text" placeholder="<enter your name>" onchange="setName()"/>
				</div>
				<div id="comment">
					<textarea onchange="setComment()"></textarea>
				</div>
			</div>

			<div id="chat">
				<ul></ul>
				<form onsubmit="event.preventDefault(); chat(this.text)">
					<label>Chat: <input type="text" name="text" required="required"/></label>
				</form>
			</div>
		</div>

		<div id="tree">
			<ul></ul>
		</div>
	</div>

</body>

<% nodes %>
<% chat %>
<% online %>

</html>
